<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px">

    <div class="col-9">

        <h4 style="color: rgb(211, 84, 0s) margin-bottom: 4px">
            {{job['title']}}
        </h4>

        <div>
            <b>Location:</b> {{job['location']}}
        </div>

        <div>
            <b>Salary:</b> {{job['Salary']}}
        </div>

    </div>

    <div class="col-3 btn-align-right   align-items-start">
        <button class="btn btn-primary" type="button">Apply Now</button>
    </div>

</div>